name: vulnpy

on:
  push:                                       
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - run: echo "This is a build step"

  test:
    runs-on: ubuntu-latest
    needs: build
    steps:

      - run: echo "This is a test step"
  
  sca:
    runs-on: ubuntu-latest
    needs: test
    steps:
      - uses: actions/checkout@v2
      - run: docker run --rm -v $(pwd):/src hysnsec/safety check -r requirements.txt --json | tee sca-results.json
        continue-on-error: true
      - uses: actions/upload-artifact@v4
        with:
          name: Safety
          path: oast-results.json
        if: always()
  
  sast:
    runs-on: ubuntu-latest
    needs: sca
    steps:
      - uses: actions/checkout@v2
 
      - run: docker run --rm -v $(pwd):/src hysnsec/bandit -r /src -f json -o /src/bandit-output.json
        continue-on-error: true
 
 
      - uses: actions/upload-artifact@v4
        with:
          name: Bandit
          path: bandit-output.json
        if: always()

  secret_scanning:
    runs-on: ubuntu-latest
    needs: test
    steps:
      - uses: actions/checkout@v2
      - run: docker run --rm -v $(pwd):/src hysnsec/trufflehog filesystem ./src --fail --json > trufflehog-output.json
      - uses: actions/upload-artifact@v4
        with:
          name: TruffleHog
          path: trufflehog-output.json
        if: always()
